<p id="notice"><%= notice %></p>

<h1>Inscricoes</h1>

<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Email</th>
      <th>Estado</th>
      <th>Cidade</th>
      <th>Instituicao</th>
      <th>Cpf</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @inscricoes.each do |inscrico| %>
      <tr>
        <td><%= inscrico.nome %></td>
        <td><%= inscrico.email %></td>
        <td><%= inscrico.estado %></td>
        <td><%= inscrico.cidade %></td>
        <td><%= inscrico.instituicao %></td>
        <td><%= inscrico.cpf %></td>
        <td><%= link_to 'Show', inscrico %></td>
        <td><%= link_to 'Edit', edit_inscrico_path(inscrico) %></td>
        <td><%= link_to 'Destroy', inscrico, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Inscrico', new_inscrico_path %>
